.comboReadout {
  display: inline-block;
  background-color: #444;
  padding: 0.5rem;
}

.comboReadout > .combos {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.comboReadout > .details {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  text-align: center;
  align-content: center;
  margin-top: 0.5rem;
}

.comboReadout > .details > div {
  background-color: #aaa;
  color: #222;
  padding: 0.2rem;
  flex: 1;
}

.comboReadout > .details > div > p {
  margin: 0.5rem;
}

.comboReadout > .details > div > p:last-child {
  font-size: 1.2rem;
  font-weight: bold;
}
