.armorSelector > h1 {
  margin: 0;
}

.armorSelector > ol {
  margin: 0;
  padding: 0;
  height: 25rem;
  overflow-y: scroll;
  background-color: #333;
  padding: 0.5rem;
}

.armorSelector > ol > li {
  display: flex;
  align-items: center;
  list-style: none;
}

.armorSelectionAggregator {
  display: inline-flex;
  flex-wrap: wrap;
  grid-column-gap: 1rem;
}

.buttons {
  display: flex;
  justify-content: flex-start;
}

.buttons > button {
  margin-right: 0.5rem;
}

input.armorSearch {
  width: 100%;
}
