.armorReadout {
  display: inline-block;
  background-color: #aaa;
  color: #222;
  font-size: 0.8rem;
  width: 20rem;
  /* border: 2px solid #999; */
}

.armorReadoutTitle > h1 {
  font-size: 1.2rem;
  margin: 0.5rem;
  cursor: pointer;
  user-select: none;
}

.armorReadoutContent > .weight {
  grid-area: a;
}

.armorReadoutContent > .poise {
  grid-area: b;
}

.armorReadoutContent > .defenses {
  grid-area: c;
}

.armorReadoutContent > .resistances {
  grid-area: d;
}

.armorReadoutContent {
  margin: 0.5rem;
  display: grid;
  position: relative;
  grid-template:
    'a c d'
    'b c d';
  grid-column-gap: 0.2rem;
  grid-row-gap: 0.2rem;
  background-color: #999;
  padding: 0.5rem;
}

.armorReadoutContent > .weight > p,
.armorReadoutContent > .poise > p {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.armorReadoutContent > div {
  display: inline-block;
}

.armorReadoutContent > div > h2 {
  font-size: 1rem;
}

.armorReadoutContent > div > * {
  margin: 0;
}

.armorReadoutContent > .wikiLink {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
}
