.checkbox {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  cursor: pointer;
  user-select: none;
}

.checkbox.active {
  background-color: var(--positive-control-background-color);
}

.checkbox.inactive {
  background-color: var(--negative-control-background-color);
}
