.settings {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 0.2rem;
  align-items: center;
  background-color: #222;
  padding: 1rem;
}

.poiseCalculator > .collapsablePanel {
  max-width: 30rem;
}

.settings > p {
  margin: 0;
}

@keyframes pulse {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(70%);
  }
  100% {
    filter: brightness(100%);
  }
}

.doingSomething {
  animation-name: pulse;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
