.collapsablePanel > p:first-child {
  user-select: none;
  cursor: pointer;
  background-color: #444;
}

.collapsablePanel > p {
  padding: 0.5rem;
}

.collapsablePanel > p > span {
  font-family: monospace;
}
